.section{
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    background:
                url('../../img/background.login.png') no-repeat center right;
    background-size: 40%;                 
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #262626;
  }
  
  .content {
    max-width: 900px;
    width: 70%;
    padding: 40px;
  }
  
  .logo {
    color: #fff;
    text-align: left;
  }

  .logo img{
    width: 30px;
  }
  
  .logo span {
    display: flex;
    align-content: center;
    gap: 5px;
    font-size: 24px;
    font-weight: bold;
  }
  
  .logo h1 {
    font-size: 40px;
    margin-top: 16px;
  }
  
  .logo p {
    font-size: 16px;
    margin-top: 16px;
    color: #C8BBBB;
  }
  
  .actions {
    display: flex;
    justify-content: flex-end;
  }
  
  .loginButton {
    display: flex;
    align-content: center;
    gap: 10px;
    background-color: transparent;
    color: #C8BBBB;
    border: 1px solid #C8BBBB;
    margin-top: 30px;
    border-radius: 8px;
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.6s;
  }
  a{
    text-decoration: none;
  }

  .loginButton:hover{
    background-color: #C8BBBB;
    color: #262626;
    transform: translateY(-5px);
  }

  @media (max-width: 950px) {
    .section{
        grid-template-columns: 100%;
        align-content: center;
        justify-content: center;
        height: 100vh;
        background-size: 0%;
    }
    .container {
        height: 60vh;
        width: 340px;
        border-radius: 10px;
        position: absolute; 
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .content {
        width: 80%;
        padding: 30px;
      }
      .loginButton {
        font-size: 14px;
      }
    
  }