.container{
    width: 90vw;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    flex-wrap: wrap;
}

.min-height {
    min-height: 75vh;
  }

.start{
    justify-content: flex-start;
}
.space{
    justify-content: space-between;
    
}

.column{
    flex-direction: column;
}

@media (max-width: 768px) {
    .space{
        gap: 20px;
    }
  }