.footer{
    background-color: #262626;
    color: #fafafa;
    padding: 3em;
    text-align: center;
}

.socialList{
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.socialList li{
    margin: 0 0.5em;
    transition: all 0.3s;
}

.socialList li:hover{
    color: #fdfd96;
}

.socialList svg{
    font-size: 1.5em;
    cursor: pointer;
}

.copyRight{
    margin-top: 1em;
}

.copyRight span{
    font-weight: bold;
    color: #fdfd96;
}