.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #262626;
    padding: 1em;
}

.list{
    display: flex;
    list-style: none;
    align-items: center;
}

.item {
    margin-right: 1em;
}

.item a {
    color: #fafafa;
    text-decoration: none;
    transition: all 0.3s;
}

.item a:hover {
    color: #fdfd96;
}